.card-layout{

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min-content,1fr));
  gap: 3rem 0;
  justify-content: center;
  padding-bottom: 6rem;


  @include respond(tab-port){
    grid-template-columns: repeat(auto-fit,minmax(min-content,40rem));
    justify-content: center;
    gap: 3rem;
  }  @include respond(phone-land){
    grid-template-columns: repeat(auto-fit,minmax(min-content,38rem));
    justify-content: center;
    gap: 3rem;
  }
}