// COLORS
$color-primary: #55c57a;
$color-primary-light: #5cda44;
$color-primary-dark: #b9c9c3;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light: #ffffff;
$color-gray-light-2: #eee;

$color-gray: #777;
$color-gray-light-3: rgba(119, 119, 119, 0.48);
$color-white-1: rgb(215, 204, 204);
$color-white: #fff;
$color-black: #000;
$like-button-color: rgb(237, 73, 86);
$navigation-icon-colors: rgb(146, 196, 211);
$default-font-size:1.6rem;

$color-nav-visited: rgb(46, 165, 210);