.card {
  font-size: 1.6rem;

  &__header {
    display: flex;
    align-items: center;
    padding: 1rem;


    .image-wrapper{
    }
    &-image {
      border-radius: 50%;
    }

    &-name {
      padding-left: 2rem;
    }
  }

  &__image {
  }

  &__footer {
    &-likes {
    }

    &-text {
    }

    &-tags {
    }
  }
}