.btn-text {

    cursor: pointer;
    font-size: $default-font-size;
    color: $like-button-color;
    display: inline-block;
    text-decoration: none;
    border: none;
    border-bottom: 0.1rem solid $like-button-color;;
    padding: 0.3rem;
    transition: all 0.2s;
    background-color: rgb(255, 255, 255);


  &:hover {
    background-color: $like-button-color;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-0.3rem);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
    background-color: red;
  }
}
