.navbar {
  position: fixed;
  bottom: 0;
  background-color:$color-gray-light-2;
  width: 100vw;
  z-index: 1;

  @include respond(tab-land){
    top: 0;
    bottom: 93vh;
    //border-bottom: 1px solid $like-button-color;
    //box-shadow: 0 0.1rem 1rem rgba($color: $color-black, $alpha: 0.35);
  }

  .navbar-nav {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;

    @include respond(tab-land){
      width: 25%;
      align-items: center;
      padding: 1.5rem;
      justify-content: space-between;
    }
    &__link{
      margin-left: 10px;

      &-wrapper{
        display: flex;
        align-items: center;

      }
      &-text{
        padding-left: 1.5rem;
        font-size: 1.6rem;
        display: none;
        @include respond(tab-land ){
          display:flex;
        }

      }

      &-image{
        //filter: brightness(0);


      }
    }
  }

  //display: flex;
  //justify-content: space-around;
  //border: 1px solid green;
  //
  //bottom: 0;
  //&__link{
  //
  //}
}